.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 600px;
  background-image: url(https://png.pngtree.com/back_origin_pic/04/19/45/154688c8443baff9e1890f945882a2be.jpg);
  background-size: cover; 
  background-position: center; 
  background-repeat: repeat;
}

.social-icons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
  }

  .social-icons a {
  color: #fff; 
  text-decoration: none;
  margin-left: 10px;
  font-size: 30px; 
  transition: transform 0.2s, box-shadow 0.2s;
  }

  .social-icons a:hover {
  color: #0073b1; 
  transform: translateY(-4px);
  }


.img-about img{
  margin-left: 210PX;
  border-radius: 100%;
  width: 52%;

}
.movimento {
  animation: mover 2s ease-in-out infinite;
}

@keyframes mover {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px); 
  }
  100% {
      transform: translateY(0);
  }
}

.container-about-no-image {
  margin-left: 80px;

}

.txt-animation {
  width: 13ch;
  border-right: 4px solid;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(15), 
  blinking 0.5s infinite step-end
  alternate; 
}

@keyframes typing {
    from {
      width: 0;

    }
}

@keyframes blinking {
  50% {
    border-color: transparent;
  }
}


@media (max-width: 599px) {
 
  .li-header{
    display: none;
  }
  
  .about {
    flex-direction: column-reverse;
    width: 100%;
    height: 580px;
    font-size: 7pt;
    word-wrap: break-word;
  }


  .img-about { 
    width: 120%;
    margin-top: 50px;
    margin-right: 190px;
    
  }

  .container-about-no-image { 
    
    margin-left: 12px;
    margin-bottom: 30px
  
    };
  }


