
.imagens {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
    
  }

.imagens img {
    height: 230px;
    
}



.projects{
  background-image: url(https://png.pngtree.com/back_origin_pic/04/19/45/154688c8443baff9e1890f945882a2be.jpg);
  background-size: cover; /* A imagem cobre toda a área */
  background-position: center; /* Centraliza a imagem */
  background-repeat: repeat;

}

.zoom-imagem {
  display: block;
  transition: transform 0.4s ease; /* Transição suave para o efeito de zoom */
}

.imagem-container:hover .zoom-imagem {
  
  transform: scale(1.2); /* Ajuste o valor conforme necessário para o zoom desejado */
}

.imagens:hover img {
    width: 100%;
    height: 230px;  
  }

.text-skills {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: #fff;
  font-size: 26pt;
}

.link-login {
  margin-top:  60px;

}

.project-1 {
  width: 100%;
  height: 500px;
  background-color: #140b29;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
}

.project-2 {
  margin-top: 70px;
  width: 100%;
  height: 500px;
  background-color: #140b29;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;

}

.project-3 {
  margin-top: 70px;
  width: 100%;
  height: 500px;
  background-color: #140b29;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;}

.allprojects{
  margin-top: 50px;
  width: 100%;
  height: 500px;
  background-color: #140b29;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;}
 

.in-work{
  width: 700px;
  height: 380px;
  background-color: #fff;

}

.img-work {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  }

.link-fast{

  display: grid;
  justify-content: center;
  align-items: center;
}
.li-projects {
  transition: background 0.3s, transform 0.3s;
  list-style: none;
} 

.li-projects a {
  text-decoration: none;
  color: #fff;
}



.li-projects:hover {
  transform: translateY(-2px);
}
.li-projects::before {
  font-size: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.li-projects i {
  margin-right: 5px;
}