body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    color: #fff;
    font-weight: 400; 
    font-size: 1em;
    background-color: #140b29;

}
a{
    text-decoration: none;
    color: #1E90FF;
}

.projects a:hover {
    color: #0000EE;

}

